@import "../../theme/variables.scss";

.nav-modal {
  --height: 75vh;
  --border-radius: 28px 28px 0 0;
}

.nav-container {
  max-height: 100%;
  margin-bottom: 25% !important;
  border-radius: 28px 28px 0 0;
  &.ion-padding {
    --padding-top: 0;
  }
}

.nav-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--ion-background-color);
  max-height: 100px;
  padding-top: 16px;
}
.nav-toolbar ion-col {
  height: 100%;
  text-align: center;
}
.nav-toolbar ion-col ion-card {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  box-shadow: none;
}
.nav-toolbar ion-col ion-card ion-title {
  color: var(--ion-text-color);
  padding: 0;
  height: fit-content;
}
.nav-toolbar ion-col ion-card p {
  margin-top: 8px;
  color: var(--ion-text-color);
}

.nav-selection-container {
  position: relative;
}

.nav-selection {
  overflow: auto;
}
.nav-selection ion-title {
  text-align: center;
}

.outlined-card {
  box-shadow: none;
  border-radius: 12px;
  border: 1px solid #c3c6cf;
  margin: 0;
}
.outlined-card ion-card-title {
  font-family: "Product Sans";
  letter-spacing: 0.5px;
  font-size: 16px;
}
.outlined-card .book-number {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--ion-color-tertiary-container);
}
