.splash-container {
  overflow: hidden;
  background: var(--ion-color-primary);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;

  & ion-text {
    font-weight: medium;
    color: white;
    & h2 {
      margin: 0;
    }
  }
}
