ion-buttons ion-button {
  height: 40px;
}

ion-toolbar {
  --background: var(--ion-background-color);
}

ion-toolbar ion-title .toolbar-title {
  pointer-events: all !important;
}

.header-button-translation {
  --padding-start: 16px !important;
  --padding-end: 16px !important;
}

.reading-type-swiper-wrapper {
  > .swiper-wrapper > .swiper-slide {
    padding: 0;
    height: max-content !important;
  }
}
