@import "../variables.scss";

ion-button {
  --border-width: 1px;
  --padding-start: 24px !important;
  --padding-end: 24px !important;
  height: 40px;
  font-family: $font-family;
  text-transform: none;
  --border-radius: 64px;

  &:hover:not(:disabled) {
    border-radius: 64px;
  }

  &.translation-button {
    font-size: 14px;
    background-color: var(--ion-background-variant);
    border-radius: 64px;
    height: 40px !important;
    max-height: 44px;
  }

  &.ion-color-secondary {
    --ion-color-base: #ffd9e2 !important;
    --ion-color-contrast: #3e001e !important;
    font-weight: 600;
  }

  &.flat {
    --box-shadow: none;

    &.ion-color-dark {
      font-size: 14px;
      background-color: var(--ion-background-variant);
      border-radius: 64px;
      height: 40px !important;
      max-height: 44px;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.icon-button {
    --border-radius: 50%;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --height: 40px !important;
  }
}
