@import "../variables.scss";

ion-button {
  --border-width: 1px;
  --padding-start: 24px !important;
  --padding-end: 24px !important;
  height: 40px;
  font-family: $font-family;

  &.translation-button {
    font-size: 14px;
    --border-color: #73777f !important;
    font-family: "Product Sans";
    letter-spacing: 0.5px;
    text-transform: capitalize;
    height: 40px !important;
    max-height: 44px;
  }
}
