@font-face {
  font-family: "Product Sans";
  src: url(../../assets/fonts/google-sans-fonts/ProductSans-Regular.ttf);
}

ion-title {
  font-family: "Product Sans";
  letter-spacing: 0.5px;
}

sub {
  font-family: "Product Sans";
}

.product-sans {
  font-family: "Product Sans";
}

.text-user-handle {
  font-size: 14px;
  font-family: "Product Sans";
}
