@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: var(--ion-background-variant);
  background: linear-gradient(
    to right,
    var(--ion-background-variant) 8%,
    var(--ion-outline-variant-color) 28%,
    var(--ion-background-variant) 33%
  );
  background-size: 800px 104px;
  height: 40px;
  position: relative;
}
