@import "../../theme/variables.scss";

#profile-user-bio {
  //   padding-bottom: 8px;
  //   border-bottom: 1px solid $text-color;
  &.user-bio-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .bio-text-input-actions {
      display: flex;
      justify-content: flex-end;
      ion-button {
        width: 100%;
      }
    }
  }
}
