#nfc-page {
  .nfc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .nfc-content-container {
      max-width: 600px;
      width: 100%;
    }
  }

  .nfc-card {
    --background: var(--ion-surface-container);

    ion-card-content {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 12px;
    }
  }

  .nfc-title {
    font-size: 22px;
    font-weight: 500;
    color: var(--ion-text-color);
    text-align: center;
    letter-spacing: 0;
  }

  .nfc-description {
    display: block;
    // margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
