@import "../../theme/variables.scss";

#chapter-viewer-container {
  .bibleSwiper {
    height: max-content !important;

    .swiper-slide {
      height: max-content !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      text-align: inherit !important;
      background-color: var(--ion-surface-container);
      box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
      padding: 16px;
    }
  }

  #chapter-viewer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    gap: 32px;
    .text-viewer {
      position: relative;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .chapter-number {
        font-size: 24px;
        margin-right: 8px;
      }

      .verse-selected {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: $color-primary;
      }

      .currently-playing-verse {
        background: fade-out($color-primary, 0.5);
        border-radius: 12px;
        padding: 8px;
      }
    }
  }
}
